{% extends "layout.html" %}

{% block title %}
    Book Search Results
{% endblock %}

{% block body %}
    <div class="main-text">
        <p>Interested in some other book? <a href="{{ url_for('index') }}" class="click-here">CLICK HERE</a> to search again.<br><b>Results</b>:</p>
    </div>

    <div id="book-search-left">
        <ul id="book-results">
            {% for book in book_results %}
                <li>
                    <a href="{{ url_for('book', book_id=book.id) }}">
                        "{{ book.title }}" - {{ book.author }},
                    </a>
                    {{ book.isbn }}
                </li>
            {% else %}
                <li>No books found.</li>
            {% endfor %}
        </ul>
        
        <p id="search-formatting"><b>Format</b>: title - author, isbn</p>
    </div>

    <div id="book-search-right">
        <!-- image from http://clipart-library.com/free-images-of-books.html -->
        <img src="static/images/book_search.png">
    </div>

{% endblock %}
