{% extends "layout.html" %}

{% block title %}
    Book Search Results
{% endblock %}

{% block body %}

    <p>{{ message }}</p>

    <h1>Searching for books - results:</h1>

    <ul>
        {% for book in book_results %}
            <li>
                <a href="{{ url_for('book', book_id=book.id) }}">
                    "{{ book.title }}" - {{ book.author }}, {{ book.isbn }}
                </a>
            </li>
        {% else %}
            <li>No books found.</li>
        {% endfor %}
    </ul>

    

    <!--<table>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>ISBN</td>
        </tr>
        {% for book in book_results %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>
        </tr>
        {% endfor %}
    </table>-->

{% endblock %}
