{% extends "layout.html" %}

{% block title %}
    Book Details
{% endblock %}

{% block body %}
    <h1>Book Details:</h1>

    {% for book_details in book %}
    <ul>
        <li>Title: {{ book_details.title }}</li>
        <li>Author: {{ book_details.author }}</li>
        <li>Year: {{ book_details.year }}</li>
        <li>ISBN: {{ book_details.isbn }}</li>
    </ul>

    <div>
        <h4><a href="https://www.goodreads.com/">good<b>reads</b></a> ratings:</h4>
        <ul>
            <li>Number of votes: {{ votes_num }}</li>
            <li>Average rating: {{ avg_rating }}</li>
        </ul>
    </div>

    <h4>{{ message }}</h4>

    <form action="{{ url_for('book', book_id=book_details.id) }}" method="post">
        <span>Author: <strong>{{ user }}</strong></span>
        <div>
            <input type="text" name="body" placeholder="Enter your review here...">
            <select name="rating">
                {% for i in range(5) %}
                    <option>{{ i+1 }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary">Add Review</button>
    </form>
    {% endfor %}

    <div>
        {% for review in book_reviews %}
        <ul>
            <li>Author: {{ review.name }}</li>
            <li>Rating: {{ review.rating }}</li>
            <li>{{ review.body }}</li>
        </ul>
        {% endfor %}
    </div>
    

{% endblock %}
