{% extends "layout.html" %}

{% block title %}
    User Login
{% endblock %}

{% block body %}
    <div id="index-left">
        <div class="main-text">
            <p class="logout-message">{{ message }}</p>

            <p>
                Please provide username (login) and password.<br>
                If you don't have account yet, click <span class="awarded-text">Register</span> button.<br>
                Otherwise - click <span class="awarded-text">Log in</span> button.
            </p>
        </div>
        <form action="{{ url_for('index') }}" method="post">

            <p class="creds-text">Username:</p>
            <div class="form-group">
                <input class="form-control" name="username" placeholder="Your Username">
            </div>

            <p class="creds-text">Password:</p>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Your Password">
            </div>

            <div>
                <div class="form-group btn-login">
                    <button class="btn btn-primary" name="login">Log in</button>
                </div>
            
                <div class="form-group btn-register">
                    <button class="btn btn-primary" name="register">Register</button>
                </div>
            </div>

        </form>

    </div>

    <div id="index-right">
        <!-- image from http://clipart-library.com/free-images-of-books.html -->
        <img src="static/images/logo.png">
    </div>


{% endblock %}
